.footer {
	background-color: $color-white;
	padding: 15px 30px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;

	&__btns {
		display: grid;
		grid-template-columns: 198px 194px;
		justify-self: flex-end;
		gap: 20px;
		opacity: 0;
		pointer-events: none;
		transform: translateX(40px);

		&--active {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__info {
		display: flex;
		gap: 30px;
		font-family: $ff-montserrat;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #a5a5a5;

		.footer:has(.footer__btns--active) & {
			opacity: 0;
			pointer-events: none;
		}
	}

	&__docs {
		display: flex;
		align-items: center;
		justify-self: flex-end;
		gap: 7px;
		font-family: $ff-montserrat;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-decoration: underline;
		color: $color-orange;
		outline: none;
    transition: color $transition-100;

		&:hover,
		&:focus-visible {
			color: $color-midnight-express;

      .footer__docs-icon {
        color: $color-midnight-express;
      }
		}

		&-icon {
			width: 17px;
			height: 19px;
			flex-shrink: 0;
      color: $color-orange;
      transition: color $transition-100;
		}
	}
}
