.locations {
	width: 100%;
	display: flex;
	flex-direction: column;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 50px;
		padding: 18px 0 0;
		margin: 0 0 25px;
	}

	&__time {
		font-size: 10px;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 43px;
	}

	&__search {
		display: flex;
		align-items: center;
		gap: 27px;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 19px;

		&--secondary {
			display: none;
			padding: 22px 0 0px 9px;
		}

		&--third {
			display: none;
			padding: 19px 0 0px 23px;
		}

		&--open {
			display: flex;
		}
	}

	&__item:has(.locations__btn) {
		position: relative;
		padding: 0 0 0 35px;
	}

	&__btn {
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		padding: 0;
		border: none;
		cursor: pointer;
		background-color: $color-orange;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: box-shadow $transition-100;

		&:hover,
		&:focus-visible {
			box-shadow: 0 0 10px 0 $color-orange;
		}

		&-line {
			width: 8px;
			height: 2px;
			background-color: $color-white;

			&--vertical {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(90deg);
				opacity: 1;
			}
		}

		&--active {
			.locations__btn-line--vertical {
				opacity: 0;
			}
		}
	}
}
